.form-container {
  display: flex;
  width: 250px;
  height: 310px;
  justify-content: center;
  margin-top: 85px;
  opacity: 0;
  animation: popUpForm 1s ease 5s forwards;
}

.input-container {
  width: 700px;
  justify-content: center;
  line-height: 60px;
  margin-top: 26px;
}

label {
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
}

.form-inputs {
  width: 400px;
  height: 38px;
  border-radius: 20px;
  border: solid grey;
  padding: 3px;
}

.form-inputs:hover {
  border: 2.5px solid #db9d47;
}

.form-inputs::placeholder {
  padding: 5px;
  font-size: 14px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.error-message {
  color: #bac1b8;
  position: absolute;
  margin-top: -15px;
  font-size: 14px;
}

@keyframes popUpForm {
  to {
    opacity: 1;
  }
}
