.login-container {
  height: 100vh;
  background: rgb(0, 31, 49);
  color: #bac1b8;
}

.header-container {
  width: 100%;
  justify-content: center;
  line-height: 100px;
  display: flex;
}

img {
  width: 200px;
  height: 60px;
  justify-content: center;
  margin-top: 20px;
  padding: 15px;
  margin-bottom: 30px;
}

img:hover {
  width: 210px;
  height: 63px;
  transition: 0.3s;
}

.loginForm-container hr {
  border: 4px solid #db9d47;
  background-color: #db9d47;
  position: absolute;
  display: flex;
  width: 0%;
  opacity: 0;
  animation: hrFade 4s ease-in forwards;
}

.signup-container {
  display: flex;
  justify-content: center;
}

.signup-container hr {
  border: 4px solid #db9d47;
  background-color: #db9d47;
  position: absolute;
  display: flex;
  width: 0px;
  margin-top: 60px;
  opacity: 0;
  animation: hrFade2 4s ease-in forwards;
}

.loginForm-container {
  line-height: 50px;
  display: flex;
  justify-content: center;
}

.header-login {
  width: 100%;
  color: #bac1b8;
  justify-content: center;
  position: absolute;
  padding: 10px;
  display: flex;
  font-size: 19px;
  margin-top: 25px;
  font-weight: bold;
  opacity: 0;
  animation: popUpForm 2s ease 5s forwards;
}

.header-signup {
  width: 100%;
  color: #bac1b8;
  justify-content: center;
  position: absolute;
  padding: 10px;
  display: flex;
  font-size: 20px;
  margin-top: 85px;
  opacity: 0;
  animation: popUpForm 2s ease 5s forwards;
}

.logoLogin {
  display: flex;
  justify-content: center;
  font-size: 70px;
  margin: 15px;
  margin-top: 25px;
  padding: 8px;
  font-weight: 1000;
  color: #db9d47;
  letter-spacing: 16px;
  opacity: 0;
  animation: logoFadeIn 4s ease-in forwards;
}

.signUpButtonContainer {
  margin: -38px;
}

@keyframes logoFadeIn {
  to {
    opacity: 1;
    letter-spacing: 6px;
    font-size: 52px;
  }
}

@keyframes hrFade {
  to {
    opacity: 1;
    width: 100%;
    border: 0.8px solid #db9d47;
  }
}

@keyframes hrFade2 {
  to {
    opacity: 1;
    width: 500px;
    border: 0.8px solid #db9d47;
  }
}

@keyframes popUpForm {
  to {
    opacity: 1;
  }
}
