.modalsong {
  position: fixed;
  z-index: 1999;
  top: 0;
  left: 0;
  transform: translate(218px, 189px);
  display: none; /*esto es lo que permite que despareza el modal*/
  justify-content: center;
  align-items: center;
}

.modalsong.isopen {
  display: flex;
}

.songCreateInputContainer {
  background-color: rgb(12, 58, 82);
  color: white;
  display: flex;
  flex-direction: row;
  width: 685px;
  height: 220px;
  padding: 8px;
  margin: -86px;
}

.songCreateFormInput {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 33px;
}
.songInput {
  display: flex;
  padding: 3px;
  width: 250px;

  height: 25px;
}

.releaseDateInput {
  display: flex;
  padding: 3px;
  width: 220px;

  height: 25px;
}

.songLabel {
  font-size: 19px;
  padding: 5px;
}

.songCreateButton {
  padding: 5px;
  width: 65px;
  justify-content: center;
  margin-top: 8px;
  margin-left: 2px;
  background-color: rgba(197, 158, 59, 0.9);
  color: #ddd;
  font-size: 18px;
  border: transparent;
  height: 30px;
  border-radius: 5px;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 11px;
  width: 29px;
  height: 12px;
  background-color: transparent;
  border: none;
  font-size: 22px;
  color: white;
  font-weight: bold;
}
