.modalsong {
  position: fixed;
  z-index: 1999;
  top: 0;
  left: 0;

  display: none; /*esto es lo que permite que despareza el modal*/
  justify-content: center;
  align-items: center;
}

.modalsong.isopen {
  display: flex;
}

/* .modalCreateContainer {
      display: flex;
      justify-content: center;
      position: relative;
      flex-direction: column;
      padding: 16px;
      width: 523px;
      height: 500px;
      overflow-y: auto;
      background-color: rgba(255, 183, 0, 0.637);
      background-color: white;
      background-color: rgba(12, 58, 82, 0.85);
      color: black;
      border-radius: 10px;
      margin-top: 20px;
    } */
.createInputContainer {
  justify-content: center;
  background-color: rgb(12, 58, 82);
  color: white;
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 500px;
  padding: 8px;
  margin: -3px;
  align-items: center;
}
input {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 250px;
  flex-flow: wrap;
}

.createButton {
  padding: 5px;
  width: 60px;
  justify-content: center;
  margin-top: 8px;
  margin-left: 100px;
  margin-bottom: 10px;
}

/* 
    .modal-close {
      position: absolute;
      top: 9px;
      right: 11px;
      width: 29px;
      height: 12px;
      background-color: transparent;
      border: none;
      font-size: 22px;
      color: white;
      font-weight: bold;
    } */
