.button-container {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.loginbuttonHomepage {
  letter-spacing: 1.5px;
  width: 115px;
  height: 44px;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  font-size: 18px;
  border: none;
  padding-right: 3px;
  margin-left: 12px;
}

.loginbuttonHomepage:hover {
  color: white;
  transition: 0.3s;
  background-color: #ffb700;
  text-transform: uppercase;
}
