.Conteiner-Playlist {
  height: 344px;
  margin-top: 15px;
  overflow-y: scroll;
  padding-left: 10px;
  font-size: 13px;
}

.Conteiner-Playlist::-webkit-scrollbar {
  -webkit-appearance: none;
}

.Conteiner-Playlist::-webkit-scrollbar:vertical {
  width: 5px;
}

.Conteiner-Playlist::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.Conteiner-Playlist::-webkit-scrollbar:horizontal {
  height: 10px;
}

.Conteiner-Playlist::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 1px solid #f1f2f3;
}

.Conteiner-Playlist::-webkit-scrollbar-track {
  border-radius: 10px;
}

a {
  text-decoration: none;
  font-size: 1rem;
  transition: 300ms color ease-in;
  color: grey;
  background: transparent;
  font-weight: 500;
}

a:hover {
  color: #fff;
}
.list {
  margin-top: 10px;
  padding: 4px;
  font-size: 14px;
}

.list > div {
  cursor: pointer;
}
