.Sidemenu-container{
    display: flex;
    align-items: center;
    color:grey;
    height: 40px; 
    cursor: pointer;
    transition: 300ms color ease-in;
    margin-left: 5px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;


}
.Sidemenu-container:hover{
    color: #fff;
}

h2{
    margin:5px;
}

p{
    margin-left: 5px;
}