.HeaderUsuario-container{
    flex: .5;
    min-width: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;

 
    
}
.HeaderUsuario-container h3{
    padding-left: 10px;
}