.categoryContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.artistsCategoryTitle {
  font-size: 50px;
  color: black;
  margin-top: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 55px;
}

.artistCategoryContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px rgba(12, 58, 82, 0.85) solid;
  /* background-color: rgba(12, 58, 82, 0.85); */
  background-color: rgba(0, 31, 49, 0.9);
  color: white;
  margin: 6px;
  height: 160px;
  width: 950px;
}

.bio {
  width: 170px;
  height: 100;
}

.addArtistButton {
  height: 50px;
  width: 125px;
  color: black;
  font-size: 18px;
  background-color: transparent;
  border: none;
  /* display: flex; */
  margin-right: 73px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.addArtistButton:hover {
  border: 1px solid rgba(12, 58, 82, 0.85);
  border-radius: 5px;
}

.artistAdminButton {
  padding: 5px;
  width: 70px;
  justify-content: center;
  margin-top: 8px;
  margin-right: 12px;
  background-color: rgba(197, 158, 59, 0.9);
  color: #ddd;
  font-size: 18px;
  border: transparent;
  height: 30px;
  border-radius: 5px;
}

.artistAlbums {
  list-style: none;
  padding-right: 4px;
}

.albumList {
  width: 160px;
}
