.artistsCategoryTitle {
  font-size: 50px;
  color: rgba(3, 0, 39);
  margin-top: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 55px;
}

.artistPhoto {
  width: 100px;
  height: 80px;
}
.artistPhoto:hover {
  width: 100px;
  height: 80px;
}

.artistCategoryContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(0, 31, 49);
  border-radius: 10px;
  color: #bac1b8;
  margin-bottom: 20px;
  height: 160px;
  width: 95%;
  gap: 36px;
  margin-left: 23px;
  overflow: scroll;
}

.artistCategoryContainer:hover {
  border: 2px #db9d47 solid;
}

.bio {
  width: 40%;
  text-align: justify;
  overflow: scroll;
  margin: 5px;
}

.addArtistButton {
  height: 50px;
  width: 125px;
  color: rgba(3, 0, 39);
  font-size: 18px;
  background-color: transparent;
  border: none;
  margin-right: 65px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.addArtistButton:hover {
  border: 1px solid rgba(3, 0, 39);
  border-radius: 10px;
}

.artistAdminButton {
  padding: 5px;
  width: 70px;
  justify-content: center;
  margin-top: 8px;
  margin-left: 2px;
  background-color: #db9d47;
  color: rgba(3, 0, 39);
  font-size: 18px;
  border: transparent;
  border-radius: 10px;
  margin-right: 15px;
}

.artistAlbums {
  list-style: none;
  padding-right: 4px;
  text-align: start;
}

.albumList {
  width: 160px;
}

.header {
  font-size: 18px;
  text-align: start;
  margin-left: 8px;
  width: 20%;
}
