.homeRefactorTitle {
  display: flex;
  font-size: 32px;
  margin-top: 25px;
  letter-spacing: 8px;
  width: 180px;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  /* background-color: rgba(219, 157, 71, 1); */
  opacity: 0.9;
  /* color: rgb(0, 31, 49); */
  color: #bac1b8;
}

.hrDivision {
  width: 98%;
  margin-bottom: 50px;
  background-color: rgba(219, 157, 71, 1);
  opacity: 0.9;
  height: 8px;
  border: none;
  border-radius: 10px;
}

.seeMore {
  color: #bac1b8;
  background-color: rgb(0, 31, 49);
  border: none;
  margin-bottom: 8px;
  width: 70px;
  display: flex;
  justify-content: center;
  line-height: 28px;
  height: 30px;
  transform: translateX(1013px);
  border: 1px solid rgba(12, 58, 82, 0.85);
  border-radius: 22px;
  cursor: pointer;
}

.seeMore:hover {
  background-color: white;
  color: rgba(3, 0, 39);
}

.refactorContainer {
  min-width: 100%;
  min-height: 20px;
}
