.homeRefactorTitle {
  display: flex;
  font-size: 32px;
  margin-top: 25px;
  letter-spacing: 8px;
  width: 180px;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  /* background-color: rgba(219, 157, 71, 1); */
  opacity: 0.9;
  /* color: rgb(0, 31, 49); */
  color: #bac1b8;
}

.hrDivision {
  width: 100%;
  margin-bottom: 50px;
  background-color: rgba(219, 157, 71, 1);
  opacity: 0.9;
  height: 8px;
  border: none;
  border-radius: 10px;
}

.seeMore {
  color: #bac1b8;
  background-color: rgb(0, 31, 49);
  border: none;
  margin-bottom: 5px;
  width: 100%;
  text-align: end;
  height: 25px;
  cursor: pointer;
}

/* .seeMore:hover {
  background-color: #bac1b8;
  color: rgba(3, 0, 39);
  border-radius: 15px;
} */

/* .refactorContainer {
  flex-wrap: nowrap;
  flex-direction: row;
  overflow: scroll;
} */
