.Sidebar-container {
  flex: 0.2;
  height: 100vh;
  background-color: #000000;
  color: aquamarine;
  min-width: 240px;
  color: #fff;
  position: fixed;
  left: 5px;
  width: 20%;
}
.Sidebar-container img {
  height: 67px;
  padding: 15px;
  margin-right: auto;
  justify-content: center;
}

.Sidebar-container hr {
  border: 1px solid #3a3a3a;
  width: 90%;
  margin: 10px auto;
}
.Playlist-container {
  margin: 5px 10px;
}
