.genreCategoryTitle {
  font-size: 50px;
  color: rgba(3, 0, 39);
  margin-top: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 55px;
}

.genreCategoryContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(3, 0, 39);
  border-radius: 10px;
  color: #bac1b8;
  margin-bottom: 20px;
  height: 220px;
  width: 97%;
  gap: 85px;
}

.genreCategoryContainer :hover {
  border: 2px #db9d47 solid;
}

.genrePhoto {
  width: 120px;
  height: 100px;
}
.genrePhoto:hover {
  width: 120px;
  height: 100px;
}

.addGenreButton {
  height: 50px;
  width: 125px;
  color: rgba(3, 0, 39);
  font-size: 18px;
  background-color: transparent;
  border: none;
  margin-right: 73px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.addGenreButton:hover {
  border: 1px solid rgba(3, 0, 39);
  border-radius: 10px;
}

.adminGenreButton {
  padding: 5px;
  width: 70px;
  justify-content: center;
  margin-top: 8px;
  margin-left: 2px;
  background-color: #db9d47;
  color: rgba(3, 0, 39);
  font-size: 18px;
  border: transparent;

  border-radius: 10px;
  margin-right: 15px;
}

.genreDescription {
  width: 35%;
  height: 180px;
  text-align: justify;
}
