.categoryContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 8px;
  margin: 12px;
  margin-bottom: 18px;
  overflow: scroll;
}

.categoryTitle {
  font-size: 30px;
  color: black;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 17px;
}

.albumCategoryContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px rgba(12, 58, 82, 0.85) solid;
  background-color: rgba(12, 58, 82, 0.85);
  color: white;
  margin: 6px;
  height: 400px;
}

.bio {
  width: 100px;
}

.addButton {
  height: 50px;
  width: 50px;
  color: black;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 30px;
  transform: translate(150px, -68px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminButton {
  background-color: white;
  width: 60px;
  padding: 4px;
  justify-content: center;
  margin-right: 18px;
}
