.artist-container {
  color: #fff;
  /* z-index: 1; */
  background-color: rgb(0, 34, 53);
  margin: 9px 12px;
  padding: 5px;
  line-height: 35px;
  font-size: 17.5px;
  font-weight: 600;
  border: 2px solid rgba(12, 58, 82, 0.85);
  border-radius: 10px;
  /* border: none; */
  padding-left: 2px;
  width: 250px;
  height: 350px;
}

.artist-container img {
  width: 185px;
  height: 175px;
  margin: 2px;
  object-fit: contain;
}

.artist-container img:hover {
  width: 185px;
  height: 175px;
  margin: 2px;
  object-fit: contain;
}

.artist-container:hover {
  background-color: rgba(6, 52, 78, 0.75);
  /* border: 2px solid rgba(12, 58, 82, 0.85); */
}

.artist-info {
  margin-top: 0px;
  margin-bottom: 4px;
}
