.container-sidebar{

    background-color: rgba(21, 19, 172, 0.435);
    flex: .20;
    height: 100%;
    width: 20%;
    margin-top: 100px;
    justify-content: flex-end;
    z-index: 100;
}