.categoriesContainer {
  letter-spacing: 1.5px !important;
  font-size: 18px !important;
  color: #ddd !important;
}

.selectContainer {
  background-color: rgba(125, 167, 192, 0.2);
}

.menuItem {
  /* background-color: rgba(12, 58, 82, 0.2) !important; */
  border: 1px solid rgba(125, 167, 192, 0.4) !important;
  letter-spacing: 1.5px !important;
  font-size: 18px !important;
}

.menuItem:hover {
  background-color: rgba(12, 58, 82, 0.2) !important;
}
