.HeaderUsuario-container {
  flex: 0.5;
  width: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 35px;
  color: #fff;
}

.userName {
  margin: 12px;
  padding: 3px;
}
