.HeaderUsuario-container {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #bac1b8;
  padding-right: 36px;
}

.userName {
  margin: 12px;
  padding: 3px;
  letter-spacing: 3px;
  font-size: 18px;
  opacity: 0;
  animation: userNamePopUp 1s ease 1s forwards;
}

@keyframes userNamePopUp {
  to {
    opacity: 1;
  }
}
