.login-button {
  margin-top: 25px;
  width: 100px;
  height: 44px;
  border-radius: 20px;
  background-color: #db9d47;
  color: black;
  font-size: 15px;
  border: none;
}

.login-button:hover {
  background-color: white;
  color: black;
  border: 2.5px solid #db9d47;
  cursor: pointer;
}

.button-container {
  width: 412px;
  height: 44px;
  opacity: 0;
  animation: popUpForm 2s ease 5s forwards;
}

@keyframes popUpForm {
  to {
    opacity: 1;
  }
}
