.categoryContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.userCategoryTitle {
  font-size: 50px;
  color: black;
  margin-top: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 55px;
  margin-bottom: 33px;
}

.userCategoryContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px rgba(12, 58, 82, 0.85) solid;
  /* background-color: rgba(12, 58, 82, 0.85); */
  background-color: rgba(0, 31, 49, 0.9);
  color: white;
  margin: 6px;
  height: 110px;
  width: 950px;
}

.adminUserButton {
  padding: 5px;
  width: 70px;
  justify-content: center;
  margin-top: 8px;
  margin-left: 2px;
  background-color: rgba(197, 158, 59, 0.9);
  color: #ddd;
  font-size: 18px;
  border: transparent;
  height: 30px;
  border-radius: 5px;
}

.userContainer {
  width: 150px;
}
