footer {
  display: flex;
  justify-content: center;
}

.signup-button {
  display: flex;
  margin-top: 190px;
  width: 400px;
  justify-content: center;
  height: 50px;
  align-items: center;
  border-radius: 20px;
  color: grey;
  background-color: white;
  font-size: 18px;
  font-weight: 700;
  border: solid grey;
  margin-bottom: 15px;
  opacity: 0;
  animation: popUpForm 2s ease 5s forwards;
}

.signup-button:hover {
  border: 2.5px solid #db9d47;
  font-size: 22px;
  cursor: pointer;
  width: 420px;
  height: 55px;
  border-radius: 25px;
}

@keyframes popUpForm {
  to {
    opacity: 1;
  }
}
